body {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20201010/pngtree-abstract-system-technology-background-image_409296.jpg'); 
    color: blue;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}   

form {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    width: 400px;
    height: 200px;
    margin-top: 12%;
}

h1, a {
    color: black;
}
