body {
    background-color: black;
    color: white;
    text-align: center;
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    width: 400px;
    height: 200px;
    margin: 12% auto;
}

h1, a {
    color: white;
}
