body {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20201010/pngtree-abstract-system-technology-background-image_409296.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    margin: 0;

    color: black;
}

/* Caixa dos formulários (login e cadastro) */
form {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    width: 350px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* Título */
h1 {
    margin-bottom: 20px;
    color: black;
}

/* Link “Fazer Cadastro” e “Login” */
a {
    color: white;
    font-size: 18px;
    margin-top: 20px;
    text-decoration: underline;
}
